{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row pt-4 my-3">
        <div class="col-md-12">
            <h3>글 세부 내용</h3>
        </div>
    </div>
    <div class="row my-3">
        <div>
        <div>[책 제목] : {{ board_list.title }}</div>
        <div>[저자] : {{ board_list.author }}</div>
        <div>[출판사] : {{board_list.publisher}}</div>
        <div>[판매자] : {{ board_list.seller}}</div>
        <div>[판매자 카카오톡ID] : {{ board_list.kakaoId}}</div>
        <div>[최대구매가] :{{board_list.minPrice}}</div>
        <div>[최대구매가] :{{board_list.maxPrice}}</div>
        <div>[상품 사진] </div>
        <img src="{{ board_list.imgfile.url }}" width="500">
        </div>
        <table class="table table-bordered">
        
        <td>
                    <p>[상품 설명]</p>
                    {{ board_list.content|linebreaks }}
                    <p><small style="color:silver;text-align:right;">[{{ board_list.published_date|date:"Y-m-d H:i:s" }}]</small></p>
                <text>
                </td>
                </table>
                
  
            <p>밑줄 유무:   
                {% if board_list.under_line %}
                O
                {% else %}
                X
                {% endif %}
            </p>
            <p>필기 유무:   
                {% if board_list.written %}
                O
                {% else %}
                X
                {% endif %}
            </p>
            <p> 이름 기입:   
                {% if board_list.page_named %}
                O
                {% else %}
                X
                {% endif %}
            </p>
            <p> 페이지 변색:   
                {% if board_list.page_age %}
                O
                {% else %}
                X
                {% endif %}
            </p>
            <p> 페이지 훼손:   
                {% if board_list.ripped %}
                O
                {% else %}
                X
                {% endif %}
            
        
    </div>
    <div style="padding: 2px 20px; float:right;">
        <a href="{% url 'hanbat_market:index' %}" class="btn btn-primary">글 목록</a>
    </div>
</div>

{% endblock %}