{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <div id="db_table">
                <table>
                    <thead>
                        <th>No</th>
                        <th>상품명</th>    
                        <th>상품사진</th>                    
                        <th>저자</th>
                        <th>판매자</th>
                        <th>출판사</th>
                        <th>최소 구매가</th>
                        <th>최대 구매가</th>
                        <th>등록일</th>
                        <th>비고</th>
                    </thead>
                    <!-- tbody 부분에 DB에서 가져온 정보를 출력?? -->
                    <tbody>
                        {% for post in board_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'hanbat_market:detail' post.id %}">{{ post.title }}</a></td>
                            <td><a href="{% url 'hanbat_market:detail' post.id %}"><img src="{{ post.imgfile.url }}" width="200"></a></td>
                            <td width="100">{{ post.author }}</td>
                            <td width="100">{{ post.seller }}</td>
                            <td width="100">{{ post.publisher }}</td>
                            <td>{{ post.minPrice }}</td>
                            <td>{{ post.maxPrice }}</td>
                            <td>{{ post.published_date|date:"Y-m-d" }}</td>
                            <td width="120">
                                
                                {% if post.seller == user%} 
                                <a href="{% url 'hanbat_market:edit' post.id %}" class="btn btn-outline-info btn-sm">수정</a> 
                                <a href="{% url 'hanbat_market:delete' post.id %}" onclick="if(!confirm('정말 삭제하시겠습니까?')){return false;}" 
                                class="btn b    tn-outline-danger btn-sm">삭제</a>
                                {%else%}
                                
                                <a href="{% url 'hanbat_market:edit' post.id %}" class="btn btn-outline-info btn-sm"></a> 
                                <a href="{% url 'hanbat_market:delete' post.id %}" onclick="if(!confirm('정말 삭제하시겠습니까?')){return false;}" 
                                class="btn b    tn-outline-danger btn-sm"></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="under_table">
                {% if user.is_authenticated %}
                <a href="{% url 'hanbat_market:regist' %}" class="btn btn-outline-secondary">글 등록</a>
                {% else %}
                <a href="{% url 'hanbat_market:regist' %}" class="btn btn-outline-secondary"></a>
                {% endif %} 
                
                <form method="GET" action="">
                    <div id="search">
                        <input name="search" type="text">
                        <button class="btn btn-primary" type="submit">검색</button>
                      </div>
                </form>  
            </div>

    <!-- 페이징 처리 -->
    <div class="row my-3">
        <div class="col-md-12 text-center">
            {% if board_list.has_previous %}
                <a href="?page=1">처음</a>
                <a href="?page={{ board_list.previous_page_number }}">이전</a>
            {% endif %}
                <!-- 페이지리스트 -->
                <span style="color:red;font-weight:bold;">{{ board_list.number }}</span> 
                <span> / </span>
                <span style="font-weight:bold;">{{ board_list.paginator.num_pages }}</span>
            {% if board_list.has_next %}
                <a href="?page={{ board_list.next_page_number }}">다음</a>
                <a href="?page={{ board_list.paginator.num_pages }}">끝</a>
            {% endif %}          


        </div>
    </div>
        </div>
    </main>
    {% endblock %}