<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hanbat-Market</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">    
    <link rel="stylesheet" href="{% static 'book_info.css'%}">
</head>

<body>
    <header>
        <a style="text-decoration:none; color:black;" href="{% url 'hanbat_market:index' %}">
        <div id="logo">Hanbat-Market
            <img id="logo_img" src="{% static 'hanbat_logo.png'%}" alt="HBNU_Logo">
        </div>
    </a>
        </div>

    


{% if user.is_authenticated %}
    <p>안녕하세요, {{user}}님!<br><br>
    <a href="{% url 'account_logout' %}">로그아웃</a></p>
{% else %}
{% load socialaccount %}

<button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
{% endif %}

    </header>
    <main>
    {% block content %}

    {% endblock %}
    </main>


    <footer></footer>
</body>

</html>