<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hanbat-Market</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">    
</head>

<body>
    <header>
        <div id="logo">Hanbat-Market
            <img id="logo_img" src="hanbat_logo.png" alt="HBNU_Logo">
        </div>
        </div>
        <div id="login">로그인</div>
    </header>
    <main>
        <div>
            <div id="db_table">
                <table>
                    <thead>
                        <th>No</th>
                        <th>책 제목</th>
                        <th>책 정보</th>
                        <th>최소 입찰가</th>
                        <th>즉시 구매가</th>
                        <th>남은 시간</th>
                        <th>입찰/구매</th>
                    </thead>
                    <!-- tbody 부분에 DB에서 가져온 정보를 출력?? -->
                    <tbody>
                        <tr>
                            <td id="num">1</td>
                            <td id="book_name"> </td>
                            <td id="book_info"><button><a href="">책 정보</a></button></td> <!-- 여기는 책 정보 나오게 링크를 ? -->
                            <td id="min_price"> </td>
                            <td id="max_price"> </td>
                            <td id="time"> </td>
                            <td id="buy_button"><button><a href="#">입찰/구매</a></button></td>
                        </tr>
                        <tr>
                            <td id="num">2</td>
                            <td id="book_name"> </td>
                            <td id="book_info"><button><a href="">책 정보</a></button></td>
                            <td id="min_price"> </td>
                            <td id="max_price"> </td>
                            <td id="time"> </td>
                            <td id="buy_button"><button><a href="#">입찰/구매</a></button></td>
                        </tr>
                        <tr>
                            <td id="num">3</td>
                            <td id="book_name"> </td>
                            <td id="book_info"><button><a href="">책 정보</a></button></td>
                            <td id="min_price"> </td>
                            <td id="max_price"> </td>
                            <td id="time"> </td>
                            <td id="buy_button"><button><a href="#">입찰/구매</a></button></td>
                        </tr>
                        <tr>
                            <td id="num">4</td>
                            <td id="book_name"> </td>
                            <td id="book_info"><button><a href="">책 정보</a></button></td>
                            <td id="min_price"> </td>
                            <td id="max_price"> </td>
                            <td id="time"> </td>
                            <td id="buy_button"><button><a href="#">입찰/구매</a></button></td>
                        </tr>
                        <tr>
                            <td id="num">5</td>
                            <td id="book_name"> </td>
                            <td id="book_info"><button><a href="">책 정보</a></button></td>
                            <td id="min_price"> </td>
                            <td id="max_price"> </td>
                            <td id="time"> </td>
                            <td id="buy_button"><button><a href="#">입찰/구매</a></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="under_table">
                <button><a href="./book_info.html" target="_self">등록하기</a></button>
                <div id="search_button"><input type="text"><button>검색</button></div>
            </div>

            <!-- <div id="list">
                <div id="list_prev"> &lt;이전&gt; </div>
                <div id="list_no"><span>1 </span><span>2 </span><span>3 </span><span>4 </span><span>5 </span></div>
                <div id="list_next"> &lt;다음&gt; </div>
            </div> -->
        </div>
    </main>
    <footer></footer>
</body>

</html>